/* font-family: "Roboto", sans-serif; */
/* font-family: "Raleway", sans-serif; */

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
}

body{
    font-family:"Roboto", sans-serif; 
    color: #434455;
    background-color: #FFFFFF;
}


.page-header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 72px;

}
.container{
    /* width: 1158px; */
    padding-left: 15px ;
    padding-right: 15px;
}
.navigation{
    display: flex;
    align-items: center;
    margin-right: auto;
}
.nav-list{
    display: flex;
    column-gap: 40px;
}
.contacts-list{
    display: flex;
    column-gap: 40px;
}



.logo{
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-studio{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
.nav-link{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #2e2f42;

    display: block;
    padding: 20px 0px;
}
.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
}



.contacts{
    font-style:normal;
}
.contacts-link{
    font-family: "Roboto", sans-serif; 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;   
}
.contacts-link:hover,
.contacts-link:focus{
    color: #404bbf;
}



.hero{
    background-color: #2e2f42;
    
    height: 600px;
}
.hero-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;

    max-width: 496px;
    margin-left: auto;
    margin-right: auto;

}
.hero-button{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4d5ae5;
    color: #fff;

    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
}
.hero-button:hover,
.hero-button:focus{
    background:#404bbf;
}


.feactures{
    padding: 120px 156px;
}
.visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
}
.feature-list{
    display: flex;
    gap: 24px;

}
.feature.item{
    /* flex-basis: calc((100% -3 * 24px) / 4); */
}
.feature-title{
  font-family: "Roboto", sans-serif;  
font-weight: 500;
font-size: 20px;
line-height: 1.20;
letter-spacing: 0.02em;
color: #2e2f42;
}
.feature-text{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: #434455;
}



.team{
    background-color: #F4F4FD;

    padding-top: 120px;
    padding-bottom: 120px;
}
.our-team{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;

    text-transform: capitalize;
}
.team-list{
    display: flex;
    gap: 24px;
    padding-right: 156px;
    padding-left: 156px;
}
.team-item{
    background-color: #FFFFFF;
}
.container-team{
    padding-top: 32px;
    padding-bottom: 32px;
}
.team-name{
    font-family: "Roboto", sans-serif;   
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: #2e2f42;

    text-align: center;
    margin-bottom: 8px;
}
.team-role{
    font-family: "Roboto", sans-serif;    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;

    text-align: center;
}



.portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}
.our-portfolio{
    font-family: "Roboto", sans-serif;    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;

    margin-bottom: 72px;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-item{
    width: calc((100% - 48px) / 3);
}
.container-portfolio{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
}
.portfolio-title{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: #2e2f42;

    margin-bottom: 8px;
}
.portfolio-type{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
}



.footer{
    background-color: #2e2f42;

    padding-bottom: 100px;
    padding-top: 100px;
}
.footer-text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #f4f4fd;

    max-width: 264px;
}
.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}
.footer-logo-studio{
    color: #f4f4fd;
}